<div class="navbar">
    <p-toolbar>
        <div class="p-toolbar-group-start">
            <img src = "/assets/img/Logo-ULPGC.png" height="70px" class="mr-2" />
        </div>
        <div class="p-toolbar-group-center">
            <h3>
                Supermercados TFG 
            </h3>
        </div>
        <div class="p-toolbar-group-end">
            <p-button icon="pi pi-shopping-cart" [badge]="itemsAmount" label="Finalizar compra" [raised]="true" [routerLink]="['/final-form']"></p-button>
        </div>
    </p-toolbar>
</div>