<div class="container">
    <p-card
    *ngFor="let item of items"
    [style]="{ height: '170px' }"
    [ngStyle]="{'visibility': item ? 'visible' : 'hidden'}"
  >
    <div class="flex justify-content-around align-items-center w-full" *ngIf="item">
      <div>
        <img [src]="item.src" style="width: 100px; height: 100px;" />
      </div>
      <div class="flex justify-content-around align-items-center" *ngIf="item">
        <div class="flex flex-column align-items-center justify-content-between" style="height: 90px; gap: 10px">
          <div class="flex gap-6 w-full align-items-start">
            <span><strong>{{item.name}}</strong></span>
          </div>
          <div class="flex gap-6 w-full align-items-start">
            <span>{{item.price}}</span>
          </div>
          <div class="flex gap-4 w-full align-items-center"> 
            <p-button icon="pi pi-shopping-cart" (onClick)="onBuyItem(item)" [disabled]="item.inCart"/>
            <a [routerLink]="[item.id]" style="text-decoration: none; color: #3B82F6">Ver más...</a>
          </div>
        </div>
      </div>
    </div>
  </p-card>
</div>

