.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
  margin-top: 13px;
}

:host ::ng-deep .p-card-body {
  padding: 0 !important;
}

:host ::ng-deep .p-card-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 !important;
  height: 170px;
}

:host h4 {
  margin: 0 !important;
}